
.FuncDiv{
    background-color:tomato;
    width: 500px;
    height: 22vh;
    margin: auto;
    border-radius: 10px 0 10px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.FnxCounter1{
    color: rgb(7, 190, 172);
}
.btn-1{
    background-color: blue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px 0 10px 0;
    width: 100px;
}
.btn-2{
    background-color: transparent;
    color: #fff;
    padding: 10px;
    border: solid 1px #fff;
    border-radius: 10px 0 10px 0;
    width: 100px;
}
.btn-1:hover{
background-color: transparent;
border: solid 1px white;
}